.list{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.list-insert{
  display: flex;
  gap: 10px;
  padding: 10px;
}
 
input{
  height: 30px;
  width: 40vh;
  color: black;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 10px;
 padding: 3px;
}



button{
  height: 35px;
  width: 10vh;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;

}

ul{
  display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: right;
   
}

ul li{
  height: 30px;
  width: 40vh;
  color: black;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 10px;
  padding: 4px;
  padding-left: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  
}

.task-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}


